* {
	margin: 0;
	padding: 0;
}

#map {
	width: 320px;
    height: 320px;
}

.chara_chip {
    position: absolute;
}

.map_chip {
    position: absolute;
}

.chara_name {
    position: absolute;
    font-weight: 900;
}